<div class="container mx-auto">
    {% paginate search.results by 12 %}
        <h1 class="text-xl my-4 text-center">Search Result</h1>

        <div class="flex justify-center items-center">
            <form action="{{ routes.search_url }}" method="get" class="border flex rounded">
                <input type="search" name="q" placeholder="Search" value="{{ search.terms | escape }}" class="border-none px-4 py-2">

                <button type="submit" class="bg-gray-900 hover:bg-gray-700 text-white border px-4">Search</button>
            </form>
        </div>

        {% if search.performed %}
            {% if search.result > 0 %}
                <div class="max-w-6xl mx-auto">
                    <p class="text-gray-500 text-center my-10">{{ search.results.size }} result for search terms:{{ search.terms | escape }} </p>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        {% for item in search.results %}
                            {% case item.object_type %}
                                {% when 'product' %}
                                    {% render 'product-cart', product_product: item %}
                                {% else %}
                                    
                            {% endcase %}
                        {% endfor %}
                    </div>
                </div>
                
                {% else %}
                    <div class="text-center my-4">
                        <p>No Resutls found for the search term: {{ search.terms |  escape }}. try a different key word</p>
                    </div>
            {% endif %}
        {% endif %}

        

        {% render 'pagination', pagination: paginate %}
    {% endpaginate %}
</div>